:root {
	--primary-bg: black;
	--secondary-bg: hotpink;
	--tertiary-bg: darkturquoise;
	--primary-font: Helvetica, sans-serif;
}

html {
	font-family: var(--primary-font);
	color: var(--tertiary-bg);
	background-color: var(--primary-bg);
	margin: 0;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
}
